#app {
  height: 100vh;
  width: 100vw;
  display: block;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

#particles-js {
  background: #dc5d2f;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1 !important;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.hide {
  display: none !important;
}

.user {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
#online-players {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

#playername-form {
  text-align: center;
}

#game-wrapper {
  display: flex;
  height: 100vh;
}

#players {
  flex-basis: 20%;
  border-left: 3px solid #dc5d2f;
  border-right: 3px solid #dc5d2f;
  border-bottom: 3px solid #dc5d2f;
  background-color: rgb(0, 0, 0);
}

#players h2 {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #dc5d2f;
  text-align: center;
}

#players ul {
  margin: 0;
  padding: 0.5rem 0.75rem;
  list-style: none;
  color: white;
  text-align: center;
}

#play {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

#username {
  max-width: 50vh;
  margin: auto;
}

#playground {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50vh;
}

.container {
  max-width: 1300px;
}

#loading p {
  color: #000000;
  text-align: center;
  padding-top: 45vh;
  font-weight: 700;
}

#disconnected p {
  font-weight: 700;
  text-align: center;
  color: #000000;
}

h1 {
  font-family: "Odibee Sans", cursive;
  color: #000000;
  text-align: center;
  padding-top: 35vh;
}

.btn-dark {
  display: flex;
  margin: auto;
  text-transform: uppercase;
}
.btn-dark:hover {
  color: rgb(164, 164, 164);
}

#image {
  width: 10vh;
  position: absolute;
  border-radius: 15%;
}

#gameOver p {
  text-align: center;
  font-weight: 700;
  font-size: 3vh;
}

h2 {
  font-family: "Odibee Sans", cursive;
  text-align: center;
  color: #000000;
}

.list-item {
  font-family: "Odibee Sans", cursive;
  text-transform: capitalize;
  list-style-type: none;
}

#result {
  color: #000000;
}
